<aside id="left-panel" class="left-panel">
    <app-left-panel></app-left-panel>
</aside>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <router-outlet ></router-outlet>
</div>
