<app-breadcrumbs [bpathname]="pathname"></app-breadcrumbs>

<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">

      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                <span>
                  <strong class="card-title">{{pathname | titlecase}}</strong>
              </span>
              <!-- <div class="add-button"> -->
                  <!-- Event Emitter using INPUT OUTPUT -->
                  <app-modal (appendTimezone)="timezone_catcher=$event" [mpathname]="pathname"></app-modal>
              <!-- </div> -->
              </div>
              <div class="card-body">
                <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                  <!-- SEARCH TABLE -->
                  <!-- <app-table-search [pathname]="pathname"></app-table-search> -->

                  <!-- TABLE -->
                  <app-table [tpathname]="pathname"></app-table>

                  <!-- PAGINATION COMPONENT -->
                  <!-- <app-pagination [pathname]="pathname"></app-pagination> -->

                </div>
              </div>
          </div>
      </div>


      </div>
  </div><!-- .animated -->
</div><!-- .content -->




