.additional-info-value {
  padding-left: 45%;
}

@media only screen and (max-width: 700px) {
  .additional-info-value {
      padding-left: 39%;
  }
}

.add-additional-info {
  &:hover {
      cursor: pointer;
  }
}

.fa-asterisk {
  vertical-align: super;
  font-size: 10px;
}

.operations {
  width: 1%;
  text-align: center
}


.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
