<!-- SEARCH TABLE -->
<app-table-search (searchClicked)="searchChanged($event)" (searchedTerm)="searchTerm=$event"></app-table-search>


<div class="row">
  <div class="col-sm-12">
    <table id="bootstrap-data-table" class="table table-striped table-bordered">
      <thead>
            <tr role="row" *ngIf="tpathname == 'timezones'">
                <th *ngFor="let thead of timezone_theads">{{ thead }}</th>
                <th>Operations</th>
            </tr>
            <tr role="row" *ngIf="tpathname == 'users'">
                <th *ngFor="let thead of user_theads">{{ thead }}</th>
                <th>Operations</th>
            </tr>
      </thead>
      <tbody *ngIf="tpathname == 'timezones'">
        <!-- | nameSearch: searchTerm -->
        <tr *ngFor="let timezone of timezone$ | nameSearch: searchTerm; let i = index; let odd = odd; let even = even" [class.odd]="odd" [class.even]="even" role="row">
            <td > {{ timezone.name | titlecase  }} </td>
            <td > {{ timezone.city | titlecase}} </td>
            <td > {{ timezone.current_timestamp | date:'medium' }} GMT {{timezone.utc}} </td>
            <td > {{getTimezoneGmt(timezone.utc) -  this.systemGmt }} hours </td>
            <td class="operations">
                <button (click)="edit_timezone(timezone, i)">
                    <i class="fa fa-edit"></i>
                </button>
                &nbsp;&nbsp;
                <button class="text-danger" (click)="delete_timezone(timezone.id, i)"> X </button>
            </td>
        </tr>
      </tbody>
      <tbody *ngIf="tpathname == 'users'">
          <tr *ngFor="let user of user$ | nameSearch: searchTerm; let i = index; let odd = odd; let even = even" [class.odd]="odd" [class.even]="even" role="row">
              <td > {{ user.name | titlecase}} </td>
              <td > {{ user.email }} </td>
              <td > {{ user.age || 'N/A'}} </td>
              <td > {{ user.gender || 'N/A'}} </td>
              <td > {{ roles[user.role_id] }} </td>
              <td class="operations">
                  <button (click)="edit_user(user, i)">
                      <i class="fa fa-edit"></i>
                  </button>
                  &nbsp;&nbsp;
                  <button class="text-danger" (click)="delete_user(user.id, i)"> X </button>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
