<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-group">
      <label>Name</label>
      <input type='text' id="nf-name" formControlName="name" placeholder="Enter Name.." class="form-control"
        [ngClass]="{ 'is-invalid': submitted && sf.name.errors }">
      <div *ngIf="submitted && sf.name.errors" class="invalid-feedback">
        <div *ngIf="sf.name.errors.required">
          Name is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type='text' id="nf-username" formControlName="username" placeholder="Enter Usesname.." class="form-control"
        [ngClass]="{ 'is-invalid': submitted && sf.username.errors }">
      <div *ngIf="submitted && sf.username.errors" class="invalid-feedback">
        <div *ngIf="sf.username.errors.required">
          Username is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="nf-email" class=" form-control-label">Email</label>
      <input type='text' formControlName="email" id="nf-email" name="nf-email" placeholder="Enter Email.." class="form-control" [ngClass]="{ 'is-invalid': submitted && sf.email.errors }">
      <div *ngIf="submitted && sf.email.errors" class="invalid-feedback">
        <div *ngIf="sf.email.errors.required">Email is required</div>
        <div *ngIf="sf.email.errors.email || sf.email.errors.pattern">Invalid Email</div>
      </div>
    </div>
    <div class="form-group">
      <div [formGroup]="passwordForm">
        <div class="form-group">
            <label for="nf-password" class=" form-control-label">Password</label>
            <input type='password' id="nf-password" formControlName="password" placeholder="Enter password.." class="form-control"
              [ngClass]="{ 'is-invalid': submitted && pf.password.errors }">
            <div *ngIf="submitted && pf.password.errors" class="invalid-feedback">
              <div *ngIf="pf.password.errors.required">
                Password is required
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="nf-confirm-password" class=" form-control-label">Confirm Password</label>
          <input type='password' id="nf-confirm-password" formControlName="confirm_password" placeholder="Enter comfirm password.." class="form-control"
            [ngClass]="{ 'is-invalid': submitted && pf.confirm_password.errors }">
          <div *ngIf="submitted && pf.confirm_password.errors" class="invalid-feedback" >
            <div *ngIf="pf.confirm_password.errors && pf.confirm_password.errors.required" >
              Confirm Password is required
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="submitted && sf.passwords.errors" class="text-danger">
        <div *ngIf="sf.passwords.errors.unmatch">Confirm Password doesn't match!!!</div>
      </div>
    </div>

    <!-- <div class="checkbox">
      <label>
        <input type="checkbox"> Agree the terms and policy
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
    <!-- <div class="social-login-content">
        <div class="social-button">
            <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Register with facebook</button>
            <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Register with twitter</button>
        </div>
    </div> -->
    <div class="register-link m-t-15 text-center">
      <p>Already have account ? <a href='/login' routerLink="/login"> Sign in</a></p>
    </div>
  </div>
</form>


