
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
      <label>Email/Username</label>
      <input type='text' id="nf-username" formControlName="username" placeholder="Enter username / email.." class="form-control"
        [ngClass]="{ 'is-invalid': submitted && lf.username.errors }">
      <div *ngIf="submitted && lf.username.errors" class="invalid-feedback">
        <div *ngIf="lf.username.errors.required">
          Username/Email is required
        </div>
      </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type='password' id="nf-password" formControlName="password" placeholder="Enter password.." class="form-control"
      [ngClass]="{ 'is-invalid': submitted && lf.password.errors }">
    <div *ngIf="submitted && lf.password.errors" class="invalid-feedback">
      <div *ngIf="lf.password.errors.required">
        Password is required
      </div>
    </div>
</div>
  <!-- <div class="checkbox">
      <label>
          <input type="checkbox"> Remember Me
      </label>
      <label class="pull-right">
          <a href="#">Forgotten Password?</a>
      </label>

  </div> -->
  <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
  <!-- <div class="social-login-content">
      <div class="social-button">
          <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
          <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
      </div>
  </div> -->
  <div class="register-link m-t-15 text-center">
      <p>Don't have account ? <a routerLink="/signup"> Sign Up Here</a></p>
  </div>
</form>
