
  <div class="sufee-login d-flex align-content-center flex-wrap bg-dark">
    <div class="container">
        <div>
          <p style="color:red">
            This application is a mixture of 3 micro services. It tells the difference in hours between your timezone and selected timezone.
          </p>
          <ol style="color:yellow">
            <li> Authentication is working with Ruby on Rails </li>
            <li> Timezone is working with Node.Js written in Typescript in Express framework </li>
            <li> User CRUD is working with Python in Flask framework </li>
            <li> User interface (UI) is made in Angular 6 </li>
            <li> Database used is PostgreSQL </li>
            <li> Running on Docker Stack in production utilizing full potential of cores, CPU's and replicas on secure Docker network </li>
          </ol>
        </div>
        <div class="login-content">
            <div>
              <h2> For Login </h2>
              <p> Username: <b>user@toptal-test.in</b> </p>
              <p> Password: <b>user</b> </p>
            </div>
            <div class="login-form">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>


