<div class="row">
  <div class="col-sm-12 col-md-6">
    <!-- <div class="dataTables_length" id="bootstrap-data-table_length"><label>Show <select name="bootstrap-data-table_length"
          aria-controls="bootstrap-data-table" class="form-control form-control-sm">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="-1">All</option>
        </select> entries</label></div> -->
  </div>
  <div class="col-sm-12 col-md-6 form-group">
    <div id="bootstrap-data-table_filter" class="dataTables_filter">
      <label>
        Search:
        <input [(ngModel)]="searchTerm" (ngModelChange)="searchChange($event)"  (keyup)="$event.keyCode == 13 && searchClick($event)" type="search" class="form-control form-control-sm"
          placeholder="Search By Name" aria-controls="bootstrap-data-table"  />
      </label>
    </div>
  </div>
</div>
