<!-- Left Panel -->

<!-- <aside id="left-panel" class="left-panel"> -->
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./">Toptal Test</a>
            <a class="navbar-brand hidden" href="./">A1M</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{user_active}}" (click)="user_activated()" >
                    <a [routerLink]="['users']">
                        <i class="menu-icon fa fa-dashboard"> </i> USERS
                    </a>
                </li>

                <li class="{{timezone_active}}" (click)="timezone_activated()">
                    <a [routerLink]="['timezones']">
                        <i class="menu-icon fa fa-dashboard"> </i> TIMEZONES
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
<!-- </aside> -->
<!-- /#left-panel -->

<!-- Left Panel -->
