<button type="button" class="btn btn-success float-right add-button" data-toggle="modal" data-target="#addmodal" (click)="openVerticallyCentered(content)">
  <i class="menu-icon fa fa-plus-circle"></i>
</button>
<ng-template #content let-modal>
  <div class="card">
    <div class="modal-header">
      <div class="crd-header">
        <strong>{{operation | titlecase}}</strong> {{model | titlecase}}: <i>
          {{model_name | titlecase}}
        </i>
      </div>
      <button #btnClose type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="mpathname === 'timezones' ? timezoneForm : userForm" (ngSubmit)="onSubmit()" >
      <div class="modal-body">
        <div class="card-body card-block" *ngIf="mpathname == 'timezones'">

          <div class="form-group">
            <label for="nf-name" class=" form-control-label">Name</label>
            <input type='text' id="nf-name" formControlName="name" placeholder="Enter Name.." class="form-control" [ngClass]="{ 'is-invalid': submitted && timezone_form.name.errors }"  >
            <div *ngIf="submitted && timezone_form.name.errors" class="invalid-feedback">
                <div *ngIf="timezone_form.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nf-city" class=" form-control-label">City</label>
            <input type='text' id="nf-city"  formControlName="city" placeholder="Enter City.." class="form-control" [ngClass]="{ 'is-invalid': submitted && timezone_form.city.errors }">
            <div *ngIf="submitted && timezone_form.city.errors" class="invalid-feedback">
                <div *ngIf="timezone_form.city.errors.required">City is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nf-timezone" class=" form-control-label">Timezone</label>
            <select type='text' id="nf-timezone"  placeholder="Enter Timezone.." class="form-control" formControlName="timezone" [ngClass]="{ 'is-invalid': submitted && timezone_form.timezone.errors }">
                <option value>Please select</option>
                <!-- <option *ngFor="let utc of timezone_utc" [value]="utc.includes('-') ? utc.slice(1) : ('-' + utc)"> -->
                <option *ngFor="let utc of timezone_utc" [value]="utc">
                  GMT {{utc}}
                </option>
            </select>
            <div *ngIf="submitted && timezone_form.timezone.errors" class="invalid-feedback">
                <div *ngIf="timezone_form.timezone.errors.required">Timezone is required</div>
            </div>
          </div>
        </div>

        <div class="card-body card-block" *ngIf="mpathname == 'users'">
            <div class="form-group">
              <label for="nf-name" class=" form-control-label">Name</label>
              <input type='text' formControlName="name" id="nf-name" name="nf-name" placeholder="Enter Name.." class="form-control" [ngClass]="{ 'is-invalid': submitted && user_form.name.errors }">
              <div *ngIf="submitted && user_form.name.errors" class="invalid-feedback">
                <div *ngIf="user_form.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="nf-email" class=" form-control-label">Email</label>
              <input type='text' formControlName="email" id="nf-email" name="nf-email" placeholder="Enter Email.." class="form-control" [ngClass]="{ 'is-invalid': submitted && user_form.email.errors }">
              <div *ngIf="submitted && user_form.email.errors" class="invalid-feedback">
                <div *ngIf="user_form.email.errors.required">Email is required</div>
                <div *ngIf="user_form.email.errors.email || user_form.email.errors.pattern">Invalid Email</div>
              </div>
            </div>
            <div class="form-group">
              <label for="nf-username" class=" form-control-label">Username</label>
              <input type='text' formControlName="username" id="nf-username" name="nf-username" placeholder="Enter Username.." class="form-control" [ngClass]="{ 'is-invalid': submitted && user_form.username.errors }">
              <div *ngIf="submitted && user_form.username.errors" class="invalid-feedback">
                <div *ngIf="user_form.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="nf-age" class=" form-control-label">Age</label>
              <input type='number' formControlName="age" id="nf-age" name="nf-username" placeholder="Enter age.." class="form-control" min="0" [ngClass]="{ 'is-invalid': submitted && user_form.age.errors }">
              </div>
              <div *ngIf="submitted && user_form.age.errors" class="invalid-feedback">
                <div *ngIf="user_form.age.errors.min">Negative Age</div>
              </div>
            <div class="form-group">
              <label for="nf-gender" class=" form-control-label">Gender</label>
              <select type='text' formControlName="gender" id="nf-gender" name="nf-gender" placeholder="Enter Gender.." class="form-control">
                <option value>Please select</option>
                <option *ngFor="let gender of allGender" [value]="gender">
                  {{gender}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="nf-role" class=" form-control-label">Role</label>
              <select type='text' formControlName="role_id" id="nf-role" name="nf-role" placeholder="Enter role.." class="form-control">
                <option value>Please select</option>
                <option *ngFor="let role of roles" [value]="role[0]">
                  {{role[1]}}
                </option>
              </select>
            </div>
          </div>
      </div>

      <div class="modal-footer">
        <div class="crd-footer">
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
          </button>
          &nbsp;&nbsp;
          <button type="reset" class="btn btn-danger btn-sm" >
            <i class="fa fa-ban"></i> Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

