<div class="row">
  <div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="bootstrap-data-table_info" role="status" aria-live="polite">Showing 1 to 10 of 57
      entries</div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table_paginate">
      <ul class="pagination">
        <li class="paginate_button page-item previous disabled" id="bootstrap-data-table_previous"><a href="#"
            aria-controls="bootstrap-data-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
        <li class="paginate_button page-item active"><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="1"
            tabindex="0" class="page-link">1</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="2"
            tabindex="0" class="page-link">2</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="3"
            tabindex="0" class="page-link">3</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="4"
            tabindex="0" class="page-link">4</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="5"
            tabindex="0" class="page-link">5</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="6"
            tabindex="0" class="page-link">6</a></li>
        <li class="paginate_button page-item next" id="bootstrap-data-table_next"><a href="#" aria-controls="bootstrap-data-table"
            data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>
